.margem{
  margin-top: -15px;
}

.margem2{
  margin-top: 30px;
  margin-left: 143px;
}

.charizard{
  height: 150px;
  margin-top: 10px;
  margin-left: 65px;
}

.top{
  margin-left: 95px;
}

.msg-erro{
  color: #ff0000;
  font-size: 10px;
  position: relative;
  clear: both;
}
