<ion-header>
  <ion-toolbar color="cu">
    <ion-title class="top" >
      Login
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" [routerLink]="['../tab1']" routerLinkActive="router-link-active"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="abra" src="https://thumbs.gfycat.com/UncommonPersonalHagfish-max-1mb.gif">
  <ion-card class="margem altura">
    <ion-card-header>
      <br>
      <ion-card-title class="ion-text-center">Insira seus dados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <br>

      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label class="marginha">Email:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <br>

      <br>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label class="marginha">Senha:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <br>

      <h2 [routerLink]="['../tab3']" class="ion-text-center">Não está cadastrado? Clique aqui!!!</h2>
      <br>
      <h3 [routerLink]="['../tab3']" class="ion-text-center">Esqueci minha senha</h3>
    </ion-card-content>
  </ion-card>


  <ion-button class="botao" color="cu2">Entrar</ion-button>
</ion-content>
