.margem{
  margin-top: -5px;
}

.margem2{
  margin-top: 50px;
  margin-left: 60px;
}

.margem3{
  margin-top: 20px;
}
.cardin{
  height: 300px;
}

.ditto{
  margin-top: 110px;
  height: 100px;
  margin-left: 150px;
}

.margem4{
  margin-left: 90px;
}
