<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="margem cardin">
    <ion-card-header class="margem3">
      <ion-card-title class="ion-text-center">Bem Vindo!!!</ion-card-title>
    </ion-card-header>

    <br>
    <ion-card-content>
      <h2>Selecione a opção que se encaixe às suas necessidades.</h2>
    </ion-card-content>


    <ion-button fill="clear" class="margem2" [routerLink]="['../tab2']">Login</ion-button>
    <ion-button fill="clear" class="margem2" [routerLink]="['../tab3']" >Registro</ion-button>
  </ion-card>
</ion-content>
