<ion-header>
  <ion-toolbar color="cu">
      <ion-title class="top">
        Cadastro
      </ion-title>

        <ion-buttons slot="start">
          <ion-back-button defaultHref="home" [routerLink]="['../tab2']" routerLinkActive="router-link-active"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="formCadastro">
    <img class="charizard" src="https://media.tenor.com/QkKXbs5rBKcAAAAM/charizard-sprite-rage.gif">
    <ion-card class="margem">

    <ion-card-header class="margem3">
      <ion-card-title class="ion-text-center">Se Cadastre Aqui</ion-card-title>
    </ion-card-header>

  <ion-card-content>
    <br>

    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label>Cpf:</ion-label>
      <ion-input formControlName="cpf"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label>Senha:</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label>Confirmar Senha:</ion-label>
      <ion-input type="password" formControlName="confirmaSenha"></ion-input>
    </ion-item>

  </ion-card-content>
</ion-card>

<ion-button (click)="presentAlert()"  (click)="salvarCadastro()" class="margem2" color="cu2">Confirmar</ion-button>
  </form>

</ion-content>
