<ion-header>
  <ion-toolbar color="cu">
    <ion-title class="top"> Cadastro </ion-title>

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="home"
        [routerLink]="['../tab2']"
        routerLinkActive="router-link-active"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <form [formGroup]="formCadastro">
    <img
      class="charizard"
      src="https://media.tenor.com/QkKXbs5rBKcAAAAM/charizard-sprite-rage.gif"
    />
    <ion-card class="margem">
      <ion-card-header class="margem3">
        <ion-card-title class="ion-text-center"
          >Se Cadastre Aqui</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        <br />

        <ion-item>
          <ion-label>Nome:</ion-label>
          <ion-input formControlName="nome"></ion-input>
          <ng-container *ngFor="let erro of mensagens.nome">
            <span
              class="msg-erro"
              *ngIf="formCadastro.get('nome').hasError(erro.tipo) && (formCadastro.get('nome').dirty || formCadastro.get('nome').touched)"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <br />

        <ion-item>
          <ion-label>Cpf:</ion-label>
          <ion-input formControlName="cpf"></ion-input>
          <ng-container *ngFor="let erro of mensagens.cpf">
            <span
              class="msg-erro"
              *ngIf="formCadastro.get('cpf').hasError(erro.tipo) && (formCadastro.get('cpf').dirty || formCadastro.get('cpf').touched)"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <br />

        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input formControlName="email"></ion-input>
          <ng-container *ngFor="let erro of mensagens.email">
            <span
              class="msg-erro"
              *ngIf="formCadastro.get('email').hasError(erro.tipo) && (formCadastro.get('email').dirty || formCadastro.get('email').touched)"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <br />

        <ion-item>
          <ion-label>Senha:</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
          <ng-container *ngFor="let erro of mensagens.senha">
            <span
              class="msg-erro"
              *ngIf="formCadastro.get('senha').hasError(erro.tipo) && (formCadastro.get('senha').dirty || formCadastro.get('senha').touched)"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>

        <br />

        <ion-item>
          <ion-label>Confirmar Senha:</ion-label>
          <ion-input
            type="password"
            formControlName="confirmaSenha"
          ></ion-input>
          <ng-container *ngFor="let erro of mensagens.confirmaSenha">
            <span
              class="msg-erro"
              *ngIf="formCadastro.get('confirmaSenha').hasError(erro.tipo) && (formCadastro.get('confirmaSenha').dirty || formCadastro.get('confirmaSenha').touched)"
            >
              {{erro.mensagem}}
            </span>
          </ng-container>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button
      (click)="presentAlert()"
      (click)="salvarCadastro()"
      class="margem2"
      color="cu2"
      >Confirmar</ion-button
    >
  </form>
</ion-content>
