<ion-header>
  <ion-toolbar color="cu">
    <ion-title class="ion-text-center">
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img class="charizard" src="https://media.tenor.com/QkKXbs5rBKcAAAAM/charizard-sprite-rage.gif">
  <ion-card class="margem">

    <ion-card-header class="margem3">
      <ion-card-title class="ion-text-center">Se Cadastre Aqui!!!</ion-card-title>
    </ion-card-header>

  <ion-card-content>
    <br>

    <ion-item>
      <ion-label>Nome</ion-label>
    </ion-item>

    <br>

    <ion-item>

      <ion-label>Cpf</ion-label>
    </ion-item>

    <br>

    <ion-item>

      <ion-label>Email</ion-label>
    </ion-item>

    <br>

    <ion-item>

      <ion-label>Telefone</ion-label>
    </ion-item>

    <br>

    <ion-item>

      <ion-label>Senha</ion-label>
    </ion-item>

    <br>

    <ion-item>

      <ion-label>Confirmar Senha</ion-label>
    </ion-item>

  </ion-card-content>
</ion-card>

<ion-button (click)="presentAlert()" class="margem2" color="cu2">Confirmar</ion-button>
</ion-content>
